<div class="content">
  <div class="row">
    <div class="col-sm-3">
      <form [formGroup]="searchPhoneForm">

        <!-- <span *ngFor='let filter of filters'>{{filter[0]}} - {{filter[1]}}</span> -->
        <div class="form-group tips-container">
          <label>Nazwa modelu:</label>
          <input  (click)='showTips()' id='searchPhoneInput'(input)="loadPhones('model')" type="text" class="form-control" formControlName="model">
          <div id="tips" >
            <a *ngFor='let model of data.model; let i=index ' (click)='setInputValue(model)'>{{model}}</a>
            </div>
        </div>
        <div class="form-group">
          <label>Przekątna ekranu: {{data.diagonal[0]}} - {{data.diagonal[data.diagonal.length-1]}}</label>
          <nouislider #diagonalSlider (change)='loadPhones("screen_diagonal")' [step]="0.1" formControlName="screen_diagonal" [connect]="true"
          [min]="1" [max]="100000"[(ngModel)]="data.diagonalRange"></nouislider>
        </div>
        <div class="form-group">
          <label>Pamięć RAM: {{data.RAM[0]}} - {{data.RAM[data.RAM.length-1]}}</label>
          <nouislider #RAMSlider (change)='loadPhones("RAM")' [step]="2" formControlName="RAM" [connect]="true" [min]="1" [max]="100000"
            [(ngModel)]="data.RAMRange"></nouislider>
        </div>
        <div class="form-group">
          <label>Pamięć wewnętrzna: {{data.memory[0]}} - {{data.memory[data.memory.length-1]}}</label>
          <nouislider #memorySlider (change)='loadPhones("memory")' [step]="1" formControlName="memory" [connect]="true" [min]="1" [max]="100000"[(ngModel)]="data.memoryRange"></nouislider>
        </div>
        <div class="form-group">
          <label>Pojemność baterii: {{data.battery[0]}} - {{data.battery[data.battery.length-1]}}</label>
          <nouislider #batterySlider (change)='loadPhones("battery")' formControlName="battery" [connect]="true" [min]="1" [max]="100000"
            [(ngModel)]="data.batteryRange"></nouislider>
        </div>
        <div class="form-group">
          <label>Rozdzielczość ekranu: </label>
          <br>

          <label *ngFor="let res of data.resolution">
            <input type="checkbox" (change)="onChange(res['name'], $event.target.checked)" [checked]='res["checked"]'> {{res["name"]}} ({{res['count']}})<br>
          </label>


            <!-- <input (change)="loadPhones('resolution'); " checked="false" type="checkbox" value="{{res[0]}}" class="form-control" formControlName='{{res[0]}}' >{{res[0]}}</label> -->
        </div>
      </form>
    </div>
    <div class="col-sm-9">
      <p>Znaleziono: {{phones.length}} wyników</p>
      <div class="row">
        <div class="col-md-6" *ngFor='let phone of phones | paginate: { itemsPerPage: itemsPerPage, currentPage: page}'>
          <div class="phones-item row">
            <div class="col-3">
              <img src="/assets/phone.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-9 pl-0">
              <h4>{{phone.model }}</h4>
              <div class="row">
                <div class="col-6 ">
                  <div>
                    <i class="fas fa-arrows-alt-h diagonal"></i>{{phone.screen_diagonal}} cali</div>
                  <div>
                    <i class="fas fa-memory"></i>{{phone.RAM || 'b.d.'}} MB</div>
                  <div>
                    <i class="fas fa-battery-full"></i>{{phone.battery || 'b.d.'}} mAh</div>

                </div>
                <div class="col-6 ">
                  <div>
                    <i class="fas fa-arrows-alt"></i>{{phone.screen_resolution}}</div>
                  <div>
                    <i class="fas fa-database"></i>{{phone.memory|| 'b.d.'}} GB</div>
                  <div>
                    <i class="fas fa-code"></i>{{phone.system|| 'b.d.'}}</div>
                </div>
              </div>
            </div>
          </div>

        </div>
        <pagination-controls class="mt-5" (pageChange)="page = $event"></pagination-controls>
      </div>
    </div>
  </div>
</div>